*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


//$primary-color: #222027;
//$text-color: #222027;
//$third-color: #A4A4A4;
//$fourth-color: #e4e4e499;

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-style: normal;
    overflow: auto;
}

h1 {
    font-weight: 400!important;
    font-style: normal;
}

p {
    line-height: 1.4!important;
}

* {
    color: #222027;
}
