*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    overflow: auto;
}

h1 {
    font-weight: 200!important;
    font-style: normal;
}

p {
    line-height: 1.4!important;
}

input {
    color: #303030;
}


//* {
//    color: #303030;
//}
